git 
python3-dev autoconf automake libtool pkg-config flex bison gettext libjson-c-dev
libusb-1.0-0-dev libdbus-glib-1-dev libbluetooth-dev libnl-genl-3-dev
libcblas-dev
libhdf5-dev
libhdf5-serial-dev
libatlas-base-dev
libjasper-dev 
libqtgui4 
sqlite3
python3-scipy python3-sklearn 
